<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>liveTvSwift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FBB5DD4620920A9900CE51FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FBB5DD5C20920A9900CE51FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FBB5DD6720920A9900CE51FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
